*{
    margin: 0;
    padding: 0;
}

body{
    background-color: palegreen;
}

#maindiv{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 9px;
    height: 200px;
    width: 100vw;
}

@keyframes growShrink {
    0%{
        color: green;
    }
    20%{
        color: red;
    }
    60%{
        color: yellow;
    }
    100%{
    color: blue;
    }
}
#p{
    color: blue;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100vw;
    font-size: x-large;
    animation: growShrink 3s linear 1s infinite;
}

#divison{
     display: flex;
     justify-content: center;  
     gap: 10px;
}

#start{
    height: 100px;
    width: 200px;
    background-color: aqua;
    border: 5px solid black;
}

#stop{
    height: 100px;
    width: 200px;
    background-color: aqua;
    border: 5px solid black;
}